{# templates/index.html.twig #}
{% extends 'admin/layout.html.twig' %}

{% block contenu %}
<!--MENU ETAPES -->


<h2>{{ ateliers|length }} Atelier(s)</h2>

<!-- Button trigger modal -->
{% if autorise == true %}
<button type="button" class="float-right btn btn-sm btn-info btn-bold" data-toggle="modal" data-target="#dataModal-ajoute" id="modal-ajoute">
  <i data-feather="plus"></i> Ajouter un atelier
</button>
{% endif %}

<!-- Modal-Ajoute -->
<div class="modal fade" id="dataModal-ajoute" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	<h5 class="modal-title" id="modal-ajoute-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-ajoute-detail">
      </div>
    </div>
  </div>
</div>



<table class="table table-striped table-sm" id="myTable">
  <thead>
    <tr>
      <th scope="col">Num</th>
      <th scope="col">Nom</th>
      {% if autorise == true %}
      <th scope="col" width="80px">action</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
	{% for atelier in ateliers %}
	<tr>
		<td>{{ atelier.numero }}</td>
		<td>{{ atelier.titre }}</td>
		{% if autorise == true %}
		<td>
			<!-- Modal Edit-->
			<button type="button" class="btn btn-sm btn-info btn-bold modal-edit" data-toggle="modal" data-target="#dataModal-edit" data-href="{{ path('app_admin_parametrage_ateliers_modifie', {'id': atelier.id}) }}">
			  <i data-feather="edit"></i>
			</button>
			<button type="button" class="btn btn-sm btn-danger btn-bold modal-suppr" data-toggle="modal" data-target="#dataModal-suppr" data-href="{{ path('app_admin_parametrage_ateliers_supprime', {'id': atelier.id}) }}">
			  <i data-feather="trash"></i>
			</button>
		</td>
		{% endif %}
	</tr>
	{% endfor %}
  </tbody>
</table>


<!-- Modal-Modifie -->
<div class="modal fade" id="dataModal-edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	<h5 class="modal-title" id="modal-edit-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-edit-detail">
      </div>
    </div>
  </div>
</div>

<!-- Modal-Supprime -->
<div class="modal fade" id="dataModal-suppr" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	<h5 class="modal-title" id="modal-suppr-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-suppr-detail">
      	Etes-vous sur de vouloir effacer cet atelier ?<br />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary btn-ok">Confirmer</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}




{% block scriptadmin %}
<script type="text/javascript">
$(document).ready(function () {
    $('#modal-ajoute').click(function () {
        $('#modal-ajoute-title').html("Ajoute Atelier");
        var url = '{{ path('app_admin_parametrage_ateliers_ajoute') }}';
        $.ajax({
            type: 'get',
            url: url,
            success: function (data) {
                $('#modal-ajoute-detail').html(data);
                $('#dataModal-ajoute').modal("show");
            }
        });
    });
    $('.modal-edit').click(function () {
        $('#modal-edit-title').html("Modifie Atelier");

        var url = $(this).attr("data-href");
        $.ajax({
            type: 'get',
            url: url,
            success: function (data) {
                $('#modal-edit-detail').html(data);
                $('#dataModal-edit').modal("show");
            }
        });
    });
	$('.modal-suppr').click(function () {
        $('#modal-suppr-title').html("Supprime Atelier");
        var url = $(this).attr("data-href");

        $('.btn-ok').click(function() {
	        $.ajax({
	            type: 'post',
	            url: url,
	            success: function (data) {
	                $('#modal-suppr-detail').html("Supprimer cet atelier ?");
	                $('#dataModal-suppr').modal("hide");
	                location.reload();
	            }
	        });
	    });
    });


});
</script>
{% endblock %}

