{# templates/index.html.twig #}
{% extends 'admin/layout.html.twig' %}

{% block contenu %}
<!--MENU ETAPES -->

<h2>Inscriptions ouvertes</h2>

<br />

<p class="alert alert-info">
	<strong>Inscriptions Ouvertes</strong>  le {{ inscription.date|date("d/m/Y") }}
	<br /><br />
</p>


<div class="card-deck">
  <div class="card border-success">
    <div class="card-body">
      <h5 class="card-title">Elèves ayant répondu 
      	<span class="badge badge-pill badge-success">{{ repondus|length }}</span>
      </h5>
      <p class="card-text">
		{% for eleve in repondus %}
		{% if eleve.user is null %}
		--->{{ eleve.nom }} {{ eleve.prenom }} {{ eleve.classe.nom }}
		{% else %}
		
		{{ eleve.user.nom }} {{ eleve.user.prenom }} {{ eleve.user.classe }}
		<a data-toggle="popover" title="{{ eleve.user.nom }} {{ eleve.user.prenom }}" data-html="true" data-content="
		{% for eleveatelier in eleve.getEleveAteliers() %}
			<strong>Thème {{ eleveatelier.atelier.numero }}</strong> : {{ eleveatelier.atelier.titre }}<br />
		{% endfor %}
		">
			<i data-feather="info"></i>
		</a>
		

		{% endif %}
		<br />
		{% endfor %}
      </p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
  <div class="card border-danger">
    <div class="card-body">
      <h5 class="card-title">Elèves n'ayant pas répondu 
      	<span class="badge badge-pill badge-danger">{{ nonrepondus|length }}</span>
      	</h5>
      <p class="card-text">
		{% for eleve in nonrepondus %}
		{% if eleve.user is null %}
		--->{{ eleve.nom }} {{ eleve.prenom }} {{ eleve.classe.nom }}
		{% else %}
		{{ eleve.user.nom }} {{ eleve.user.prenom }} {{ eleve.user.classe }}
		{% endif %}
		<br />
		{% endfor %}
      </p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
</div>

{% endblock %}

{% block scriptadmin %}
<script type="text/javascript">
$(document).ready(function () {
	$(function () {
	  $('[data-toggle="popover"]').popover()
	})
});
</script>
{% endblock %}
